<footer class="footer">
    <div class="grid">
        <div class="grid__row">
            <div class="grid__column-2-4">
                <h3 class="footer__heading">Chăm sóc khách hàng</h3>
                <ul class="footer__list">
                    <li class="footer__list-items">
                        <a href="" class="footer__list-items__link">Trung tâm trợ giúp</a>
                    </li>
                    <li class="footer__list-items">
                        <a href="" class="footer__list-items__link">F8-Shop Mall</a>
                    </li>
                    <li class="footer__list-items">
                        <a href="" class="footer__list-items__link">Hướng dẫn mua hàng</a>
                    </li>
                </ul>
            </div>
            <div class="grid__column-2-4">
                <h3 class="footer__heading">Giới thiệu</h3>
                <ul class="footer__list">
                    <li class="footer__list-items">
                        <a href="" class="footer__list-items__link">Giới thiệu</a>
                    </li>
                    <li class="footer__list-items">
                        <a href="" class="footer__list-items__link">Tuyển dụng</a>
                    </li>
                    <li class="footer__list-items">
                        <a href="" class="footer__list-items__link">Điều khoản</a>
                    </li>
                </ul>
            </div>
            <div class="grid__column-2-4">
                <h3 class="footer__heading">Danh mục chi nhánh</h3>
                <ul class="footer__list">
                    <li class="footer__list-items">
                        <a href="" class="footer__list-items__link">Số 1 Đại Cồ Việt, Hai Bà Trưng, Hà Nội</a>
                    </li>
                    <li class="footer__list-items">
                        <a href="" class="footer__list-items__link">190 Nguyễn Trãi, Thanh Xuân, Hà Nội</a>
                    </li>
                    <li class="footer__list-items">
                        <a href="" class="footer__list-items__link">85 Trần Đại Nghĩa, Bách Khoa, Hà Nội</a>
                    </li>
                </ul>
            </div>
            <div class="grid__column-2-4">
                <h3 class="footer__heading">Theo dõi chúng tôi trên</h3>
                <ul class="footer__list">
                    <li class="footer__list-items">
                        <a href="" class="footer__list-items__link">
                            <i class="footer__list-items__icon fab fa-facebook"></i>
                            Facebook
                        </a>
                    </li>
                    <li class="footer__list-items">
                        <a href="" class="footer__list-items__link">
                            <i class="footer__list-items__icon fab fa-instagram-square"></i>
                            Instagram
                        </a>
                    </li>
                    <li class="footer__list-items">
                        <a href="" class="footer__list-items__link">
                            <i class="footer__list-items__icon fab fa-linkedin"></i>
                            Linkedin
                        </a>
                    </li>
                </ul>
            </div>
            <div class="grid__column-2-4">
                <h3 class="footer__heading">Vào của hàng trên ứng dụng</h3>
                <div class="footer__download">
                    <img src="../../public/img/qrcode.png" alt="" class="footer__download-qr">
                    <div class="footer__download-app">
                        <a href="" class="footer__download-app-link">
                            <img src="../../public/img/google_play.jpg" alt="" class="footer__download-app-img">
                        </a>
                        <a href="" class="footer__download-app-link">
                            <img src="../../public/img/apple_store.jpg" alt="" class="footer__download-app-img">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__bottom">
        <div class="grid">
            <div class="grid__row">
                <div class="footer__information">
                    <div class="footer__info">
                        <ul class="footer__info-list">
                            <li class="footer__info-items">
                                <a href="" class="footer__info-link">CHÍNH SÁCH BẢO MẬT</a>
                            </li>
                            <li class="footer__info-items">
                                <a href="" class="footer__info-link">QUY CHẾ HOẠT ĐỘNG</a>
                            </li>
                            <li class="footer__info-items">
                                <a href="" class="footer__info-link">CHÍNH SÁCH TRẢ HÀNG VÀ HOÀN TIỀN</a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer__text">
                        <p class="footer__text-info">Công ty TNHH NDKID</p>
                        <p class="footer__text-info">Địa chỉ: sô 40 ngõ 424 Trần Khát Chân, Hai Bà Trưng, Hà Nội</p>
                        <p class="footer__text-info">Mã số doanh nghiệp: 01234567890 do Sở Kế hoạch & Đầu tư TP Hà Nội cấp lần đầu ngày 20/10/2020</p>
                        <p class="footer__text-info">© 2020 - Bản quyền thuộc về công ty TNHH NDKID</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>